:root {
  --clr-font01: #78909c;
  --clr-font02: #464d50;
  --clr-body-background: #37474f;
  --clr-input-background: #faf2f6;
  --clr-success-background: rgb(185, 241, 225);
  --clr-navbar-background: #192024;
  --clr-inputhover: #fce4ec;
  --clr-inputfocus: #f48fb1;
  --clr-btn-primary: #8b0834;
  --clr-btn-primaryhover: #640726;
  --clr-sidebar-background: #e1e5ee;
  --clr-sidebar-background-hover: #c5d1ee;
  --clr-sidebar-shadow: #a10c2d;
  --clr-sidebar-shadow2: #29383f;
  --clr-sidebar-expand: #767b91;
  --clr-sidebar-expand-hover: #363842;

  --clr-white: #fff;
  --clr-hover: #8a6f77;
  --radius: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--clr-body-background);
}

.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'sidebar gallery';
}

.content1 {
  grid-area: sidebar;
}

.content2 {
  grid-area: gallery;
}

.nav {
  position: absolute;
  background-color: var(--clr-sidebar-background);
  box-shadow: 0px 0px 20px var(--clr-sidebar-shadow2);
  height: calc(100vh - 3.2rem);
}

.nav__list {
  display: flex;
  flex-direction: column;
}

.nav__listitem {
  list-style: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
  border-left: 6px solid transparent;
  transition: all 200ms ease-in;
}

.nav__listitem:first-child {
  margin-top: 5rem;
}

.nav__listitem:hover {
  background-color: var(--clr-sidebar-background-hover);
}

.nav__listitem-active {
  background-color: var(--clr-body-background);
  border-left: 6px solid var(--clr-sidebar-shadow2);
}

.nav__listitem-active a svg {
  fill: var(--clr-white);
}

.nav__listitem-active a p {
  color: var(--clr-white);
}

.nav__listitem a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--clr-font02);
  font-weight: 500;
}

.nav__listitem svg {
  fill: var(--clr-font02);
  width: 3rem;
}

.nav__expand {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: -1rem;
  top: 1rem;
  z-index: 99;
  fill: var(--clr-sidebar-expand);
  background-color: var(--clr-sidebar-background);
  box-shadow: 0px 0px 10px var(--clr-sidebar-shadow2);
  border-radius: 50%;
  cursor: pointer;
  transform: rotateZ(-180deg);
  transition: transform 200ms ease-in-out;
}

.nav__expand:hover {
  fill: var(--clr-sidebar-expand-hover);
}

.nav-closed .nav__expand {
  transform: rotateZ(0deg);
}

.nav-closed .nav__listitem a p {
  display: none;
}

.nav-closed .nav__listitem:first-child {
  margin-top: 5rem;
}

.navbar {
  width: 100vw;
  font-weight: 400;
  background-color: var(--clr-navbar-background);
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 1rem 1rem;
}

.navbar ul li:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--clr-white);
  padding-right: 2rem;
  position: relative;
  transition: color ease-in-out 250ms;
}

.navbar ul li a:hover {
  color: var(--clr-hover);
}

.navbar ul li a::after {
  content: '';
  position: absolute;
  display: block;
  height: 0.5rem;
  width: 0;
  background-color: var(--clr-hover);
  bottom: -1em;
  transition: width ease-in-out 250ms;
}

.navbar ul li:first-child a:hover::after {
  width: 80%;
}

.navbar ul li a:hover::after {
  width: 70%;
}

.container {
  margin: 2rem auto;
  padding: 1rem;
  width: 26rem;
  border-radius: var(--radius);
  background-color: var(--clr-white);
}

.container__title {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--clr-font02);
}

.container__description {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}

.container__description-error {
  visibility: hidden;
  font-size: 0.8rem;
  color: red;
}

.container__description-success {
  visibility: hidden;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--clr-success-background);
  border-radius: var(--radius);
  text-align: center;
}

.container__form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.container__form-group-row {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.container__form-label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.container__form-label-checkbox {
  font-size: 0.9rem;
  margin: 1rem 0;
  padding: 1rem;
}

.container__form-input {
  border: none;
  background-color: var(--clr-input-background);
  border-radius: var(--radius);
  padding: 1rem;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  transition: all 250ms ease-in;
}

.container__form-input-checkbox {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--clr-input-background);
  border-radius: var(--radius);
}

.container__form-input:hover {
  border: 1px solid var(--clr-inputhover);
  box-shadow: 0 0 5px var(--clr-inputhover);
  background: var(--clr-white);
}

.container__form-input:focus {
  border: 1px solid var(--clr-inputfocus);
  box-shadow: 0 0 5px var(--clr-inputfocus);
  background: var(--clr-white);
}

.container__btn-submit {
  margin: 1rem auto;
  border: none;
  background: var(--clr-btn-primary);
  color: var(--clr-white);
  border-radius: var(--radius);
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  width: 16rem;
  cursor: pointer;
  transition: all 250ms ease-in;
}

.container__btn-submit:hover {
  background-color: var(--clr-btn-primaryhover);
}
